<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /><!-- Disable horrible auto-skype for contact numbers in IE -->
    <meta name="description" content="2015 Human Development Report"><!-- Add your site description -->
    <meta name="author" content="Human Development Report Office"><!-- Add your author description -->
    <meta name="keywords" content="hdi,human development, human development index, hdro, undp, 2015 report"><!-- Add sites your keywords -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" /><!-- Include a Favicon, (always keep in root of folder) -->

    <title>2015 Human Development Report</title><!-- Your page/site title -->

    <!-- Load Our CSS - Do not alter the load order -->
    <link href="css/bootstrap.min.css" rel="stylesheet"><!-- Bootstrap Core - ALways load first -->
    <link href="css/animate.css" rel="stylesheet"><!-- Animatations -->
    <link href="css/icomoon.css" rel="stylesheet"><!-- Icon Font -->
    <link href="css/flexslider.css" rel="stylesheet"><!-- Flexslider styles for #blogfeed -->
    <link href="css/jquery.fs.wallpaper.css" rel="stylesheet"/><!-- Video css file -->
    <link href="css/style.css" rel="stylesheet"><!-- Main theme stylesheet -->
    <link rel="stylesheet" href="css/nv.d3.css"><!-- Chapter 4 stylesheet -->
    <link rel="stylesheet" href="css/bootstrap-multiselect.css"><!-- Chapter 4 stylesheet -->
    <link rel="stylesheet" href="css/chapter4.css"><!-- Chapter 4 stylesheet -->
    <link href="css/hditree.css" rel="stylesheet"><!-- Stylesheet for the HDI tree -->

    <!-- Load our fonts from Google -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Domine" rel="stylesheet" type="text/css">

    <!-- Load our fonts individually if IE8+, to avoid faux bold & italic rendering -->
    <!--[if IE]>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
    <![endif]-->

    <!-- Load our stylesheet for IE8 -->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" />
    <![endif]-->

    <!-- Load our stylesheet for IE9 -->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie9.css" />
    <![endif]-->

    <!-- Load our jQuery, with an alternative source/fallback to our own version if request is unavailable -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    
    <!-- Load these in the <head> for quicker IE8+ load times -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="home">

    <!-- Our page loader -->
    <div class="loadstack">
        <div class="spinner"></div>
    </div>


    <!-- ============================ Social menu, (modal window) ============================ -->

    <div id="socialmodal" class="modal fade" tabindex="-1" role="dialog" aria-label="socialmodalLabel" aria-hidden="true">

        <!-- Menu Trigger -->
        <button class="toggleclose" data-dismiss="modal" aria-hidden="true">
            <span class="icon-close"></span>
        </button>
        <div class="explore">
            <h3>Be Social</h3>
        </div>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Connect with Jonathan Ive</h3>
                    <hr class="mini white central">
                    <ul class="socialicons motion">
                        <li class="two twitter"><a href="http://twitter.com/" title="Twitter" target="_blank"><span class="icon-twitter"></span></a></li>
                        <li class="four"><a href="http://dribbble.com/" title="Dribbble" class="dribbble" target="_blank"><span class="icon-dribbble"></span></a></li>
                        <li class="six"><a href="http://facebook.com/" title="Facebook" class="facebook" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="eight"><a href="http://instagram.com/" title="Instagram" class="instagram" target="_blank"><span class="icon-instagram"></span></a></li>
                        <li class="ten"><a href="http://vimeo.com/" title="Vimeo" class="vimeo" target="_blank"><span class="icon-vimeo"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- =============================== End social menu ============================== -->

    <!-- ============================ Header/fixed sidebar ============================ -->

    <header id="header">        
        <!-- Second logo for mobiles/tablets only. Maximum height of 65px -->
        <div class="mobile_logo">
            <img src="img/logo.png" alt="Human Development Report Office">
        </div>

        <!-- Bullet navigation -->
        <nav id="bullets" class="cover">
            <ul>
                <li class="current-page-item"><a href="#videohero">welcome</a></li>
                <li><a href="#intro">intro</a></li>
                <li><a href="#one">one</a></li>
                <li><a href="#two">two</a></li>
                <li><a href="#three">three</a></li>
                <li><a href="#four">four</a></li>
                <li><a href="#five">five</a></li>
                <li><a href="#six">six</a></li>
                <li><a href="#annex">annex</a></li>
                <li><a href="#media">media</a></li>
            </ul>
        </nav>

    </header>
    
    <!-- End header/fixed sidebar -->
    

    <!-- ============================ Start the page content ============================ -->

    <!-- Leading Page Container -->
    <!-- Always keep all page content wrapped in this div, with id="wrapper" and class="page-content" -->
    <div id="wrapper" class="page-content">

        <!-- ============================ Section one: hero ============================ -->

        <section id="videohero" class="cover">
            <!-- Logo -->
            <div class="logo">
                
            </div>
        </section>

        <!-- Specify background image for graceful fallback for mobiles and tablets -->
        <section id="fallback" class="cover element-img" style="background-image: url('video/mobile-fallback.jpg');">
        </section>
 <!-- ============================ Selim introduction ============================ -->
        <section id ="intro">
        <section class="container padding">
            <div class="row">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                    <h2>An Introduction from Selim Jahan, Director of the Human Development Report Office and Lead Author of the report</h2>
                </div>
            </div>
            <br>
            <br>
            <div class="row fitvids">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/xQkM6hVynR8" allowfullscreen></iframe>
                </div>
            </div>
        </section>
       </section>
        <!-- Chapter 1 -->
        <section id="one" class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="row padding wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-xs-12">
                    <h2>Chapter 1: Work and human development–analytical links</h2>
                    <hr class="mini">
                    <p>Work is intrinsic to human development. From a human development perspective, the notion of work is broader and deeper than that of jobs or employment alone. The jobs framework fails to capture many kinds of work that are important to human development—such as unpaid care work, voluntary work and such creative work such as writing or painting. Through this lens the report identifies ways to strengthen the link between work and human development. <br /><br />
The interactive visualization below explores the synergetic relationship of work and human development.</p>
    <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading-accordian">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Click to Read more <span class="icon-arrow-down2"></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                Work enhances human development, but some work damages human development and some work puts workers at risk.<br /><br />
<span class="textlink-positive">When positive</span>, work provides benefits beyond material wealth and fosters community, knowledge, strengthens dignity and inclusion. Nearly a billion workers in agriculture, 450 million entrepreneurs, 80 million workers in health and education, 53 million domestic workers, 970 million voluntary workers contribute to human progress.<br /><br />
<span class="textlink-negative">When negative</span>, in the form of forced labour, child labour and human trafficking, work can violate human rights, threaten freedom and shatter dignity. An estimated 21 million people are currently in forced labour of whom 14 million (67 percent) were exploited for labour and 4.5 million (22 percent) sexually exploited. There are still 168 million child labourers worldwide. And some work e.g. work in hazardous industries may put workers in risk. There are 30 million workers in mining and their face risks every day.<br /> <br />
Over the years work has contributed considerably to impressive progress in human development. However the progress has been uneven with significant human deprivations and large human potentials remain unused. <br /> <br />
The chapter feature special contributions by Kailash Satyarthi, Activist and 2014 Nobel Peace Prize Laureate and Lemayh Gbowee, Peace Activist and 2011 Nobel Peace Prize winner.
              </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="http://hdr.undp.org/sites/default/files/chapter1.pdf" target="_blank"><button type="button" class="btn btn-success btn-block">Download Chapter 1 <img src="img/text-download.png"  alt="Download Chapter 1"></button></a>
              </div>
            </div>
          </div>
        </div>
                </div>
            </div>
        </section>

        <!-- ============================ Chapter 2 begin ============================ -->
 <section id="two" class="white">
             <div class="container">
                 <div class="row padding wow fadeInUp" data-wow-delay="0.5s" style="padding-top: 10px;">
                     <div class="col-xs-12 white">
                         <h2>Chapter 2: Human development and work: progress and challenges</h2>
                         <hr class="mini">
                         <p>Over the past two decades, the world has made major strides in human development. Today, people are living longer, more children are going to school and more people have access to clean water and basic sanitation. <br /><br />
                         Since 1990, 2 billion people have been lifted out of low human development, extreme income poverty has been reduced by more than a billion. Every region of the world has seen Human Development Index (HDI) gains.<br /><br />
                         Interactive visualization below explores changes in HDI and its components on country, region and global levels. 
                         </p>
                     </div>
                 </div>
             </div><!-- /.container -->
                         
 <!-- ============================ Section three: image and text ============================ -->
             <div class="container">
                  <div class="col-xs-12">
                      <hr class="bq-bottom" />
                      <h2 class="hdiTreeTitle">The tree represents human development, measured by the Human Development Index for the selected country or region</h2>
                      <hr class="bq-top" />
                  </div>    
             </div>
             <div class="row hdiTree">
                 <div id="hdiTreeBackground"></div>
                 <div id="hdiTree1" class="col-md-6"></div>
                 <div id="hdiTree1Settings" class="hdiTreeMin hdiTreeMobile">
                     <div class="hdiTree1SettingsProp"></div>
                     <h3 class="hdiTreeBtnChange">Change</h3>
                     <div class="hdiTreeSettingsContainer">
                         <p>Select a country, region or development classification for this tree to compare the results</p>
                         <div class="hdiTree1SettingsForm"></div>
                     </div>
                 </div>
                 <div id="hdiTree2" class="col-md-6"></div>
                 <div id="hdiTree2Settings" class="hdiTreeMin hdiTreeMobile">
                     <div class="hdiTree2SettingsProp"></div>
                     <h3 class="hdiTreeBtnChange">Change</h3>
                     <div class="hdiTreeSettingsContainer">
                         <p>Select a country, region or development classification for this tree to compare the results</p>
                         <div class="hdiTree2SettingsForm"></div>
                     </div>
                 </div>
                 <div id="hdiTreeSettings" class="col-md-12 hdiTreeMin hdiTreeDesktop">
                     <h3 class="hdiTreeBtnChange">Change</h3>
                     <div class="hdiTree1SettingsProp"></div>
                     <div class="hdiTree2SettingsProp"></div>
                     <div class="hdiTreeSettingsContainer container">
                         <p>Select a country, region or development classification for this tree to compare the results</p>
                         <div class="hdiTree1SettingsForm col-md-6"></div>
                         <div class="hdiTree2SettingsForm col-md-6"></div>
                     </div>
                </div>
            </div>
     <script type="text.html" id="tmplHdiTreeProperties">
                 <p>
                     <%=region%>, <%=year%><br/>
                     <span>HDI: <%=hdi%></span><span>Years of schooling: <%=edu%></span>
                     <span>GNI: <%=gni%></span><span>Life expectancy: <%=hi%></span>
                 </p>
             </script>
             <script type="text.html" id="tmplHdiTreeForm">
                 <p>Type to search</p>
                 <select id="hdiTree<%=tree%>Region" class="hdiTreeCountrySelect">
                     <% for(var i = 0; i < options.length; i++){ %>
                         <option value="<%=options[i]%>" <% if(currentRegion == options[i]){ %>selected="selected"<% } %>><%=options[i]%></option>
                     <% } %>
                 </select>
                 <p>Choose year of data</p>
                 <input type="radio" id="hdiTree<%=tree%>Year1990" value="1990" name="hdiTree<%=tree%>Year" <% if(currentYear == 1990){ %>checked="checked"<% } %> /> <label for="hdiTree<%=tree%>Year1990">1990</label>
                 <input type="radio" id="hdiTree<%=tree%>Year2014" value="2014" name="hdiTree<%=tree%>Year" <% if(currentYear == 2014){ %>checked="checked"<% } %> /> <label for="hdiTree<%=tree%>Year2014">2014</label>
                 <a href="#" class="hdiTreeSettingsSubmit">Load this data</a>
             </script>
 <!--            <script type="text/javascript" src="../../../../../zviz/vendor/closure/goog/base.js"></script>
             <script type="text/javascript" src="../../../../../zviz/deps.js"></script>
             <script type="text/javascript" src="../../../../source/deps.js"></script>
             <script type="text/javascript" src="../../../../source/hditree.js"></script>-->
             <script type="text/javascript" src="js/hditree.min.js"></script>
             <script type="text/javascript">
                 project.start();
             </script>   
                  
            
             <div class="container">
                 <div class="row padding wow fadeInUp" data-wow-delay="0.5s" style="padding-top: 10px;">
                     <div class="col-xs-12 white">
                         <div class="panel-group" id="accordion">
                               <div class="panel panel-default">
                                 <div class="panel-heading-accordian">
                                   <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                       Click to Read more <span class="icon-arrow-down2"></span>
                                     </a>
                                   </h4>
                                 </div>
                                 <div id="collapseTwo" class="panel-collapse collapse">
                                   <div class="panel-body">
                                     The human progress has been contributed to by the work of nearly 1 billion people in agriculture, the contributions of 80 million workers in health and education, the creativity of 450 million entrepreneurs and the support of 53 million of domestic workers.<br /><br />
                     At the same time, human progress has been uneven with deep human deprivations. And significant human potential remains unused, misused and abused. More than 200 million people with 74 million young people are out of work, more than 800 million working poor are living on less than $2 a day.<br /><br />
                     Overcoming the existing human deprivations and addressing the emerging human development challenges will require optimal use of the world’s human potential.<br /><br /> 
                     The chapter features special contribution by Robert Reich, Former United States Secretary of Labor. 
 
                                   </div>
                                               <div class="col-md-3 col-sm-6 col-xs-12">
                                     <button type="button" class="btn btn-success btn-block">Download Chapter 2 <img src="img/text-download.png"  alt="Download Chapter 2"></button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                     </div>
                 </div>
             </div><!-- /.container -->
        </section>
        
<!-- ============================ Chapter 2 end ============================ -->        
<!-- ============================ Chapter 3  header begin ============================ -->

        <section id="three" class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="row padding">
                <div class="col-xs-12 centertext">
                    <h2>Chapter 3: The changing world of work
</h2>
                    <hr class="title">
                    <p>Today, the transformation of work is driven by globalization and technological revolutions, particularly the digital revolution. Globalization has fostered global interdependence, with major impacts on patterns of trade, investment, growth and job creation and destruction—as well as on networks for creative and volunteer work. We seem to be living through new and accelerated technological revolutions. New opportunities are emerging, but so do new risks. In this new world of work there are winners, so are losers and human development impacts mixed.</p>
                </div>
            </div>
        </section>

<!-- ============================ Chapter 3 Header End ============================== -->

<!-- ============================ Chapter 3 slider Start ============================ -->
        <section id="blogfeed" class="container-fluid light-grey-lt">
            <div class="modtitle">
                <h3>Sample text</h3>
            </div>
            <div class="direction controls">
                <a href="prev" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a href="next" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="blogslider">
                        <ul class="slides">
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <img src="img/blogfeed/post-01.png" alt="Add alt tag"></a>
                                        </div>
                                        <p class="blogroll-meta">In the past 10 years global trade in goods and services almost doubled—reaching nearly $24 trillion in 2014, up from $13 trillion in 2005. The digital components of these flows have also been increasing. By the end of 2015 the planet will have more than 7 billion mobile subscriptions and more than 3 billion Internet users.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <img src="img/blogfeed/post-02.png" alt="Add alt tag"></a>
                                        </div>
                                        <p class="blogroll-meta">The digital components of these flows have also been increasing. By the end of 2015 the planet will have more than 7 billion mobile subscriptions and more than 3 billion Internet users.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                           <img src="img/blogfeed/post-03.png" alt="Add alt tag"></a>
                                        </div>
                                        <p class="blogroll-meta">An implied promise of the digital revolution was increased labour productivity, and higher pay. This does not seem to have happened. Productivity has not grown at the rates expected, and the gains have not translated into higher wages for the most part. As a result, inequalities among different [segments] of the society have gone up.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                        <img src="img/blogfeed/post-04.png" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">How about another post title then</a></h3>
                                        <p class="blogroll-meta">Posted: June 2014, in Design News</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-05.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">And lastly a fourth post title</a></h3>
                                        <p class="blogroll-meta">Posted: June 2014, in Design News</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-06.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">And lastly a fourth post title</a></h3>
                                        <p class="blogroll-meta">Posted: June 2014, in Design News</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <a href="http://hdr.undp.org/sites/default/files/chapter3.pdf" target="_blank"><button type="button" class="btn btn-success btn-block">Download Chapter 3 <img src="img/text-download.png"  alt="Download Chapter 3"></button></a>
              </div>

        </section>
     


<!-- ============================ Chapter 3 section END ============================== -->

        <section id="four" class="white">
            <!-- ====== Full-width blockquote - Chapter 4 ======= -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <blockquote class="bigtext">Chapter 4: Imbalances in paid and unpaid work
</blockquote>
                        <hr class="bq-bottom">
                    </div>
                </div>
            </div>

    <!-- ======= text ============= -->

            <div class="container">
                <div class="row padding">
                    <div class="col-md-12 wow fadeInLeft" data-wow-delay="0.3s">
                        <p>In 2015 the global labour force participation rate was 50 percent for women but 77 percent for men. Worldwide in 2015, 72 percent of working-age men were employed, compared with only 47 percent of women. Female participation in the labour force and employment rates are heavily affected by economic, social and cultural issues and care work distributions at home.<br /><br />Analyses of total hours worked in time-use surveys (in a sample representing 69 percent of the global adult population), shows that women contribute 52 percent of global work to men’s 48 percent. Even though, women carry out the major share of global work, they face disadvantage in the world of work, both in paid and unpaid work. Interactive visualization below explores imbalances in paid and unpaid work using the time-use survey data from 63 countries.<br /></p>
    <body>
        <div class="container" style='margin-top:25px;'>
            <div class="row">
                <div id='chapter4_wrapper'>
                    <div class="btn-group" style="margin-left:75px; margin-top:35px;">
                        <select id="chapter4_selector" multiple="multiple">
                            <option value="Albania" selected="selected">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Benin">Benin</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Greece">Greece</option>
                            <option value="Hungary">Hungary</option>
                            <option value="India">India</option>
                            <option value="Iran (urban)">Iran (urban)</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Italy">Italy</option>
                            <option value="Japan" selected="selected">Japan</option>
                            <option value="Korea">Korea</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Mali">Mali</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palestine">Palestine</option>
                            <option value="Panama">Panama</option>
                            <option value="Peru">Peru</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Romania">Romania</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Spain">Spain</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="UK">UK</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="USA" selected="selected">USA</option>
                        </select>
                        <button id="chapter4_reset_btn" class="btn btn-default">Reset</button>
                    </div>
                    <svg>
                        <defs>
                            <linearGradient id="chapter4_y_axis_pos" gradientUnits="userSpaceOnUse">
                                <stop offset="0%" style="stop-color:#1BABE2;stop-opacity:0"/>
                                <stop offset="50%" style="stop-color:#1BABE2;stop-opacity:0.3"/>
                                <stop offset="100%" style="stop-color:#1BABE2;stop-opacity:0"/>
                            </linearGradient>
                            <linearGradient id="chapter4_y_axis_neg" gradientUnits="userSpaceOnUse">
                                <stop offset="0%" style="stop-color:#F1AF00;stop-opacity:0"/>
                                <stop offset="50%" style="stop-color:#F1AF00;stop-opacity:0.3"/>
                                <stop offset="100%" style="stop-color:#F1AF00;stop-opacity:0"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </body>
                </div>
                </div>
            <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading-accordian">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                 Click to Read more <span class="icon-arrow-down2"></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Men dominate the world of paid work, women the world of unpaid work. Of the 59 percent of work that is paid, mostly outside the home, men’s share is nearly twice that of women—38 percent versus 21 percent. The picture is reversed for unpaid work, mostly within the home and encompassing a range of care responsibilities: of the 41 percent of work that is unpaid, women perform three times more than men—31 percent versus 10 percent. <br /><br />
In the realm of paid work, women are engaged in the workforce less than men, their work tends to be more vulnerable (globally half of employed women are in vulnerable jobs) and they are under-represented in senior management (in businesses, women represent only 22 percent of senior managers.), reinforcing disadvantages. In the realm of unpaid work, women share more of the care burden (undertaking more childcare, care for elders and those with disabilities), which limits their options, discretionary free time and access to social pensions. <br /><br />
The report calls for reducing the burden of unpaid care work, expanding opportunities for women to engage in paid work. Outcomes could be improved by equal pay, flexible work, greater social protection, parental leave and addressing harassment and social norms that exclude women from work. There is also a need for valuing unpaid care work for advocacy and policy purposes.<br /><br />
The chapter features special contribution by Roza Otunbayeva, Former President of Kyrgyzstan.  <br />
              </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="http://hdr.undp.org/sites/default/files/chapter4.pdf" target="_blank"><button type="button" class="btn btn-success btn-block">Download Chapter 4 <img src="img/text-download.png"  alt="Download Chapter 4"></button></a><br />
              </div>
            </div>
          </div>
        </div>                         
            </div>
 
        </section>
                <!-- Chapter 5 -->
        <section id="five" class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="row padding">
                <div class="col-xs-12">
                    <blockquote class="bigtext">Chapter 5: Moving to sustainable work</blockquote>
                    <hr class="mini">
                    <p>Sustainable work refers to work that promotes human development while ensuring sustainability. It is critical not only for sustaining the planet, but also for ensuring work for future generations. <br /><br />
Some occupations can be expected to loom larger—railway technicians, for instance, as countries invest in mass transit systems. Terminated workers may predominate in sectors that draw heavily on natural resources or emit greenhouse gases or other pollutants. About 50 million people are employed globally in such sectors (7 million in coal mining, for example). <br /><br />
For sustainable work to become more widely prevalent, three developments are needed in parallel: termination, transformation and creation, each requiring specific actions by national and international policymakers, industry and other private sector actors, civil society and individuals.<br /><br />
Infographic below explains effects of work on environmental sustainability and human development.</p>
        <!-- =============== Chapter 5: 2 column - Graph w/ explanation ===================== -->

        <section id="five" class="container-fluid">
            <div class="row">
                <div class="col-md-6 element-img" style="background-image: url('img/chapter5.png'); height: 430px; width: 430px;"></div>
                <div class="col-md-6 textpadding-chapter5 wow fadeInLeft" data-wow-delay="0.5s">
                    <h4>Sustainable work (in the top-right square of the matrix in the infographic) takes place in developed and developing economies, but it can differ in scale, in the conditions of work, in the links to human development and in the implications for policy.</h4>
                    <hr class="mini">
                    <ul class="list">
                        <li><span class="icon-radio-checked blogroll-meta"></span> <i>Termination</i>. Some existing work will have to end, and the workers displaced will need to be accommodated in other occupations (bottom-left square of the matrix in the infographic).</li>
                        <li><span class="icon-radio-checked blogroll-meta"></span> <i>Transformation</i>. Some existing work will need to be transformed in order to be preserved through a combination of investment in adaptable new technologies and retraining or skill upgrading (top-left and bottom-right).</li>
                        <li><span class="icon-radio-checked blogroll-meta"></span> <i>Creation</i>. Some work will be largely novel, benefiting both sustainability and human development, but will emerge from outside the current set of occupations (top-right square of the matrix in the infographic).</li>
                    </ul>
                </div>
            </div>
        </section>
        
<br />
    <div class="panel-group" id="accordion">
              <div class="panel panel-default">
            <div class="panel-heading-accordian">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Click to Read more <span class="icon-arrow-down2">
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
               The Sustainable Development Goals (SDGs) have implications for sustainable work and sustainable work is also critical for achieving the SDGs. SDG with the most direct implications for sustainable work is goal 8 (promote sustained, inclusive and sustainable economic growth, full and productive employment, and decent work for all), and its associated targets which spell out some of the implications for sustainable work. <br /><br />
Target 8.7, for example, is to take immediate and effective measures to eradicate forced labour, end modern slavery and human trafficking and secure the prohibition and elimination of the worst forms of child labour, including the recruitment and use of child soldiers, and by 2025 end child labour in all its forms. <br /><br />
Target 8.8—to protect labour rights and promote safe and secure working environments for all workers, including migrant workers, in particular women migrants, and those in precarious employment—aims to strengthen the human development outcomes of workers, avoiding a race to the bottom. <br /><br />
Similarly, sustainable work is also crucial for achieving the SDGs as it contributes to poverty elimination, ending hunger,  promoting sustained, inclusive and sustainable economic growth and so on.  
The chapter features special contributions by Maithripala Sirisena, President of Sri Lanka and Nohra<br /><br /> Padilla, Director of the National Association of Recyclers (Colombia) and of the Association of Recyclers of Bogota, Recipient of the Goldman Environmental Prize in 2013. <br />

              </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="http://hdr.undp.org/sites/default/files/chapter5.pdf" target="_blank"><button type="button" class="btn btn-success btn-block">Download Chapter 5 <img src="img/text-download.png"  alt="Download Chapter 5"></button></a>
              </div> <br />
                </div>
          </div>
        </div>
                </div>

            </div>

        </section>
            <!-- ====== Chapter 6 ======= -->
        <section id="six" class="white">
            <div class="container-fluid white">
                <div class="row white">
                    <div class="col-xs-12 white">
                        
                        <blockquote class="bigtext" style="padding-top: 30px;">Chapter 6: Imbalances in paid and unpaid work
</blockquote>
                        <hr class="bq-bottom">
                    </div>
                </div>
            </div>

            <!-- ======= Image and text ============= -->

            <div class="container white">
                <div class="row padding white">
                    <div class="col-md-12 wow fadeInLeft white" data-wow-delay="0.3s">
                        <p>Policy options for enhancing human development through work have to be built around three broad clusters: (1) creating more work opportunities to expand work choices, (2) ensuring workers’ well-being to reinforce a positive link between work and human development and (3) targeted actions to address the challenges of specific groups and contexts. An agenda for action to build momentum for change is also needed pursuing a three-pillar approach—a New Social Contract, a Global Deal and the Decent Work Agenda. <br /><br />
The Interactive visualization below explores clusters of policy recommendations.
 </p>
                    </div>
                </div>
            <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading-accordian">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  Click to Read more <span class="icon-arrow-down2"></span>
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                Societies can turn challenges caused by changes in the world of work into opportunities that would enhance human development. The report recommends work which enables people to find employment opportunities without damaging prospects for future generations. The report suggests investing in energy efficient technologies, prioritising ethical consumption and investment and enhancing skills development, creativity, entrepreneurship and problem solving among a workforce. The Report also calls for national employment strategies, dual targeting by central banks, employment-led growth rather growth-lead growth strategies, a living income and profit sharing by workers.<br /><br />
The chapter features special contribution by Benigno S. Aquino III, President of the Philippines. 
  <br />

              </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="http://hdr.undp.org/sites/default/files/chapter6.pdf" target="_blank"><button type="button" class="btn btn-success btn-block">Download Chapter 6 <img src="img/text-download.png"  alt="Download Chapter 6"></button></a><br />
              </div>
            </div>

          </div>
        </div>
            </div>
        
        </section>
<!-- ============================ Satistical annex begin ============================ -->

        <section id="annex" class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="row padding">
                <div class="col-xs-12">
                    <h2 class="centertext">Statistical annex
</h2>
                    <hr class="title">
                    <p>The report features 16 statistical tables in the annex as well as the statistical tables following chapters 2, 4 and 6 provide an overview of key aspects of human development. The first seven tables contain the family of composite human development indices and their components estimated by the HDRO. The remaining tables present a broader set of indicators related to human development.<br /><br />
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <button type="button" class="btn btn-info btn-block">Statistical Tables</button>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="http://hdr.undp.org/en/system/files/hdr2015_technical_notes.pdf"  target="_blank"><button type="button" class="btn btn-warning btn-block">Technical Notes</button></a>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="http://hdr.undp.org/en/faq-page" target="_blank"><button type="button" class="btn btn-default btn-block">FAQ's</button></a>
              </div>
            </div>
<br />
Unless otherwise specified in the notes, tables use data available to the HDRO as of 15 April 2015. All indices and indicators, along with technical notes on the calculation of composite indices and additional source information, are available online at <a href="http://hdr.undp.org/en/data" target="_blank">http://hdr.undp.org/en/data</a>.<br /><br />
Countries and territories are ranked by 2014 Human Development Index (HDI) value. Robustness and reliability analysis has shown that for most countries the differences in HDI are not statistically significant at the fourth decimal place. For this reason countries with the same HDI value at three decimal places are listed with tied ranks.<br />
</p>
                </div>
            </div>
        </section>

<!-- ============================ Statistical annex End ============================== -->

        <!-- ============================ Section ten: full-width image ============================ -->

        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12 element-img" style="background-image: url('img/sketch.jpg'); height: 500px">
                </div>
            </div>
        </section>

        <!-- ============================ Section eleven: blockquote ============================ -->

        <section class="container-fluid white padding">
            <div class="row">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <blockquote class="bigtext">We were startled by her beauty, and stood in ore at her glowing radiance.</blockquote>
                </div>
            </div>
        </section>

        <!-- ============================ Section fourteen: testimonials ============================ -->



        <!-- ============================ Footer ============================ -->

        <footer class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="http://hdr.undp.org/en" title="Human Development Report Office"><img src="img/f-logo.png" ></a>
                        <p>"Work for Human Development"</p>
                        <small>&copy; Copyright 2015 HDRO</small>
                        <hr class="mini central light-grey-dk">
                    </div>
                </div>
            </div>
        </footer>

    <!-- / END page #wrapper -->
    </div>

    <!-- ========== Load our scripts - keep positioned at the end of your document ========== -->

    <script src="js/bootstrap.min.js"></script><!-- Bootstrap core - always load first -->
    <script src="js/wow.min.js"></script><!-- WoW animations -->
    <script src="js/jquery.nav.js"></script><!-- Left-hand bullet navigation -->
    <script src="js/jquery.nicescroll.min.js"></script><!-- Scrollbars for whole page and main navigation -->
    <script src="js/waypoints.min.js"></script><!-- Waypoints, needed for 'counterup' plugin -->
    <script src="js/jquery.fitvids.js"></script><!-- Fitvids plugin, (responsive videos) -->
    <script src="js/jquery.flexslider-min.js"></script><!-- Flexslider -->
    <script src="js/jquery.fs.wallpaper.js"></script><!-- Video plugin -->
    <script src="js/jquery.easing.min.js"></script><!-- Easing plugin, for opacity fade on menu background images -->
    <script src="js/d3.v3.js"></script><!-- Chapter 4 -->
    <script src="js/nv.d3.js"></script><!-- Chapter 4 -->
    <script src="js/bootstrap-multiselect.js"></script><!-- Chapter 4 -->
    <script src="js/chapter4_chart.js" defer></script><!-- Chapter 4 -->

    <script src="js/scripts.js"></script><!-- Custom JS functions - always load last -->

    <!-- Page-specific JS functions - these are functions that only occur on this specific page, so we DON'T want these placed in our scripts.js file as this file is loaded on every page for global site functions.  -->

    <!-- Initialize CounterUp plugin for rounding up/animated statistics -->


    <!-- Initialize fitvids.js plugin for responsive videos -->
    <script>
        $(document).ready(function(){
            $(".fitvids").fitVids();
        });
    </script>

    <!-- Initialize background video in hero section, (above the fold) -->

    <!-- Initialize flexslider for blog-roll slider -->
    <script>
        // second-flexslider
        $(window).load(function() {
          $('#blogslider').flexslider({
            animation: "slide",
            directionNav: false,
            controlNav: false,
            touch: true,
            slideshow: false
          });
        });
        $('.prev, .next').on('click', function() {
          var href = $(this).attr('href');
          $('#blogslider').flexslider(href)
          return false;
        })
    </script>



    <!-- ========== Insert your Google Analytics code below this line ========== -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5403742-4', 'auto');
  ga('send', 'pageview');

</script>
    <!-- ======================== End Google Analytics ========================= -->

</body>

</html>
